<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script sec = ./public/main.js></script>
    <style src = ./public/style.css></style>
    <title>Document</title>
</head>
<body>
    <div class="container blue circleBehind">
        <a href = ./partials/main/landing.html>HOME</a>
        <a href = ./partials/main/about.html>ABOUT</a>
        <a>PORTFOLIO</a>
        <a>ABOUT</a>
        <a>CONTACT</a>
      </div>
</body>
</html>